#main {
    margin-top: 60px;
}

.app-question {
    margin-top: 10px;
}
.app-question .popover {
    display: block;
    max-width: none;
    position: relative;
}
.app-question ul {
    list-style: none;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    width: 100%;
}
.app-question li {
    float: left;
}
.app-question li img {
    display: block;
    padding-bottom: 10px;
    /*width: 100%;*/
}
.app-question li span {
    font-size: 30px;
}

.app-answers {
    border-left: 1px solid #f1f1f1;
    float: left;
    list-style: none;
    margin: 0;
    overflow-y: auto;
    overflow-x: hidden;
    width: 100%;
}
.app-answers li {
    border: 1px solid #f1f1f1;
    border-left-width: 0;
    float: left;
    margin-top: -1px;
    margin-left: -1px;
    margin-right: -1px;
    text-align: right;
    padding: 10px 0;
    position: relative;
    width: 50%;
    height: 40px;
}
.app-answers li span {
    /*
    font-size: 60px;
    font-weight: normal;
    opacity: 0.2;
    line-height: 40px;
    */
    background: #3cb521;
    color: #fff;
    cursor: pointer;
    padding: 5px;
    position: absolute;
    top: 0;
    left: 0;
    /*width: 20px;*/
    height: 20px;
    z-index: 1000;
}
.app-answers li i {
    position: absolute;
    top: 5px;
    right: 5px;
}
.app-answers li span a, .app-answers li span a:visited {
    color: #fff;
    text-decoration: none;
}

.app-answers li ul {
    position: absolute;
    top: 0;
    width: 100%;
}
.app-answers li ul li {
    border: none;
    height: auto;
    width: auto;
    float: none;
}
.app-answers li ul li small {
    display: block;
}
.app-answers .app-active {
    background: #f1f1f1;
}
.app-answers .app-right {
    background-color: #5bb75b;
}
.app-answers .app-wrong {
    background-color: #da4f49;
    color: #fff;
}
.app-answers .app-right span, .app-answers .app-wrong span {
    /*background-color: #f7f7f7;*/
}

.app-clock {
    border-right: 1px solid silver;
    text-align: center;
}
.app-clock p {
    margin-bottom: 10px;
}
.app-clock span {
    font-size: 50px;
    font-weight: normal;
}

.app-progressbar .progress {
    height: 40px;
    position: relative;
}
.app-progressbar .progress .bar {
    position: absolute;
    z-index: 1;
}
.app-progressbar .progress span {
    font-size: 25px;
    line-height: 45px;
    position: absolute;
    width: 100%;
    height: 45px;
    text-align: center;
    z-index: 2;
}