<div class="row-fluid">
    <div class="page-header">
        <h1><i class="icon-envelope-alt"></i> Góp Ý</h1>
    </div>

    <p>Mọi góp ý, báo lỗi cho phần mềm này xin gửi về cho tác giả (Nguyễn Hữu Phước):</p>
    <ul class="unstyled">
        <li>Email: <a href="mailto: phuoc@huuphuoc.me">phuoc@huuphuoc.me</a></li>
        <li>Twitter: <a href="http://twitter.com/nghuuphuoc">@nghuuphuoc</a></li>
    </ul>

    <p>Phần mềm này là mã nguồn mở, bạn có thể tải về tại <a href="http://github.com/nghuuphuoc/drivinglicense450">http://github.com/nghuuphuoc/drivinglicense450</a></p>
</div>