<div ng-controller="ExamController" ng-init="init()">
    <!-- loading: -->
    <div id="loading" ng-show="loading">
        <div class="span6 offset3">
            <div class="progress progress-striped active">
                <div class="bar" style="width: 100%;"></div>
            </div>
        </div>
    </div>
    <!-- :loading -->

    <div ng-show="!loading">
        <div class="row-fluid">
            <div class="span3">
                <!-- tips: -->
                <div class="alert alert-info">
                    <i class="icon-lightbulb icon-2x"></i> Sử dụng các phím mũi tên (&larr;, &rarr;, &uarr;, &darr;) để di chuyển câu hỏi. Nhấn các phím số (1 &rarr; 9) để chọn hoặc huỷ phương án trả lời.
                </div>
                <!-- :tips -->

                <!-- answers: -->
                <ul class="app-answers">
                    <li ng-repeat="question in questions" ng-class="{ 'app-active': currentQuestionIndex == $index }">
                        <span><a href="javascript: void(0);" ng-click="gotoQuestion($index)">{{ $index + 1 }}</a></span>
                        <ul class="inline">
                            <li ng-repeat="option in question.options">
                                <small>{{ $index + 1 }}</small>
                                <input type="checkbox" value="{{ $index + 1 }}" ng-model="question['option_' + $index]" ng-click="gotoQuestion($parent.$index)" />
                            </li>
                        </ul>
                    </li>
                </ul>
                <!-- :answers -->
            </div>

            <div class="span9">
                <div class="row-fluid">
                    <!-- clock: -->
                    <div class="span3 app-clock">
                        <span><i class="icon-time"></i> {{ formatTime(); }}</span>
                    </div>
                    <!-- :clock -->

                    <div class="span9">

                    </div>
                </div>

                <!-- question: -->
                <div class="row-fluid app-question">
                    <div class="popover">
                        <h3 class="popover-title">
                            <span class="badge badge-success">Câu hỏi {{currentQuestionIndex + 1}}</span>
                        </h3>
                        <div class="popover-content">
                            <h4>{{ questions[currentQuestionIndex].title }}</h4>
                            <p>{{ questions[currentQuestionIndex].content }}</p>

                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th style="width: 50px;">Phương Án</th>
                                        <th>Nội Dung</th>
                                        <th style="width: 50px;">Bạn Chọn</th>
                                        <th style="width: 50px;">Đáp Án</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="option in questions[currentQuestionIndex].options">
                                        <td style="text-align: center"><span class="badge badge-info">{{ $index + 1 }}</span></td>
                                        <td>{{ option }}</td>
                                        <td><i class="icon-check" ng-show="questions[currentQuestionIndex]['option_' + $index] == true"></i></td>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- :question -->
            </div>
        </div>
    </div>
</div>