<div ng-controller="ExamController" ng-init="init()">
    <!-- loading: -->
    <div id="loading" ng-show="loading">
        <div class="span6 offset3">
            <div class="progress progress-striped active">
                <div class="bar" style="width: 100%;"></div>
            </div>
        </div>
    </div>
    <!-- :loading -->

    <div ng-show="!loading">
        <div class="row-fluid">
            <div class="span3 app-option">
                <!-- time: -->
                <div class="app-clock">
                    <div class="progress progress-danger progress-striped">
                        <div class="bar" ng-style="{ width: timePercent }"></div>
                        <span>{{ formatTime(); }}</span>
                    </div>
                </div>
                <!-- :time -->

                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th class="text-center">#</th>
                            <th>
                                <ul>
                                    <li ng-repeat="i in maxNumOptions"><span class="badge badge-info">{{ $index + 1 }}</span></li>
                                </ul>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="question in questions" ng-class="{ 'success': currentQuestion == $index }">
                            <td class="text-center"><a href="javascript: void(0);" ng-click="gotoQuestion($index)" class="label">{{ 'Question' | i18n }} {{ $index + 1 }}</a></td>
                            <td>
                                <ul>
                                    <li ng-repeat="option in question.options">
                                        <input type="checkbox" value="{{ $index + 1 }}" ng-click="chooseAnswer($event, $parent.$index, $index)" />
                                    </li>
                                </ul>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="text-center">
                    <button class="btn btn-primary btn-large">{{ 'Finish' | i18n }}</button>
                </div>
            </div>

            <div class="span9 app-question">
                <div class="popover left">
                    <h3 class="popover-title">
                        <span class="badge badge-success">{{ 'Question' | i18n }} {{currentQuestion + 1}}</span>
                    </h3>
                    <div class="popover-content">
                        <h4>{{ questions[currentQuestion].title }}</h4>
                        <p>{{ questions[currentQuestion].content }}</p>

                        <table class="table table-stripped" id="choices">
                            <thead>
                            <tr>
                                <th>{{ 'Option Number' | i18n }}</th>
                                <th>{{ 'Option Content' | i18n }}</th>
                                <th>{{ 'Your Choice' | i18n }}</th>
                                <th>{{ 'Correct Answer' | i18n }}</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="option in questions[currentQuestion].options">
                                <td><span class="badge badge-info">{{ $index + 1 }}</span></td>
                                <td>{{ option }}</td>
                                <td><i class="icon-ok" ng-show="questions[currentQuestion]['option_' + $index] == true"></i></td>
                                <td></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>