<div ng-controller="ExamController" ng-init="init()">
    <div ng-show="!loading">
        <div class="row-fluid">
            <div class="span3">
                <!-- tips: -->
                <div class="alert alert-info">
                    <i class="icon-lightbulb icon-2x"></i> Sử dụng các phím mũi tên (&larr;, &rarr;, &uarr;, &darr;) để di chuyển câu hỏi. Nhấn các phím số (1 &rarr; 9) để chọn hoặc huỷ phương án trả lời.
                </div>
                <!-- :tips -->

                <!-- answers: -->
                <ul class="app-answers">
                    <li ng-repeat="question in questions" ng-class="{ 'app-active': currentQuestionIndex == $index, 'app-wrong': done && !question.correct }">
                        <span>
                            <a href="javascript: void(0);" ng-click="gotoQuestion($index)">{{ $index + 1 }}</a>
                        </span>
                        <i class="icon-ok" ng-show="done && question.correct"></i>
                        <i class="icon-remove" ng-show="done && !question.correct"></i>
                        <ul class="inline">
                            <li ng-repeat="option in question.options">
                                <small>{{ $index + 1 }}</small>
                                <input type="checkbox" value="{{ $index + 1 }}" ng-disabled="done" ng-model="question['__options'][$index]" ng-click="chooseAnswer($parent.$index, $index, $event.target.checked)" />
                            </li>
                        </ul>
                    </li>
                </ul>
                <!-- :answers -->
            </div>

            <div class="span9">
                <div class="row-fluid">
                    <!-- clock: -->
                    <div class="span3">
                        <div class="app-clock">
                            <span><i class="icon-time"></i> {{ formatTime(); }}</span>
                        </div>
                    </div>
                    <!-- :clock -->

                    <!-- result: -->
                    <div class="span6">
                        <div class="app-progressbar" ng-hide="done">
                            <div class="progress progress-success progress-striped active">
                                <div class="bar" style="width: {{ numAnswers * 100 / numQuestions  }}%;"></div>
                                <span>{{ numAnswers }} / {{ numQuestions }} câu</span>
                            </div>
                        </div>

                        <div class="btn-group" ng-show="done" style="width: 100%;">
                            <button class="btn btn-large btn-success" style="width: 50%;"><i class="icon-thumbs-up"></i> {{ numRightAnswers }} câu đúng</button>
                            <button class="btn btn-large btn-danger" style="width: 50%;"><i class="icon-thumbs-down"></i> {{ numWrongAnswers }} câu sai</button>
                        </div>
                    </div>
                    <!-- :result -->

                    <!-- finish-button: -->
                    <div class="span3">
                        <button class="btn btn-large btn-primary" style="width: 100%;" ng-click="finish()" ng-hide="done">KẾT THÚC</button>
                        <button class="btn btn-large btn-primary" style="width: 100%;" ng-click="restart()" ng-show="done"><i class="icon-refresh"></i> LÀM LẠI</button>
                    </div>
                    <!-- :finish-button -->
                </div>

                <!-- question: -->
                <div class="row-fluid app-question">
                    <div class="popover">
                        <h3 class="popover-title">
                            <span class="badge badge-success">Câu hỏi {{currentQuestionIndex + 1}}</span>
                        </h3>
                        <div class="popover-content">
                            <h4>{{ questions[currentQuestionIndex].title }}</h4>
                            <p>{{ questions[currentQuestionIndex].content }}</p>

                            <ul ng-show="questions[currentQuestionIndex].images.length >= 1">
                                <li ng-repeat="image in questions[currentQuestionIndex].images">
                                    <img ng-src="{{ image }}" />
                                    <span ng-show="questions[currentQuestionIndex].images.length > 1">{{ $index + 1 }}</span>
                                </li>
                            </ul>

                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th style="width: 100px;">Phương Án</th>
                                        <th>Nội Dung</th>
                                        <th style="width: 75px;">Bạn Chọn</th>
                                        <th style="width: 50px;" ng-show="done">Đáp Án</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="option in questions[currentQuestionIndex].options">
                                        <td style="text-align: center"><span class="badge badge-info">{{ $index + 1 }}</span></td>
                                        <td>{{ option }}</td>
                                        <td><i class="icon-check" ng-show="questions[currentQuestionIndex]['answers'].indexOf($index + 1) != -1"></i></td>
                                        <td ng-show="done">
                                            <i class="icon-ok" ng-show="questions[currentQuestionIndex]['correct_answers'].indexOf($index + 1) != -1"></i>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- :question -->
            </div>
        </div>

        <div class="row-fluid" ng-class="{ 'hide': closedTimeModal, 'show': !closedTimeModal }">
            <!-- time-over-dialog: -->
            <div class="modal fade in">
                <div class="modal-header">
                    <h3>Hết Giờ</h3>
                </div>
                <div class="modal-body">Đã hết thời gian!</div>
                <div class="modal-footer">
                    <button class="btn btn-primary" ng-click="timeOver();">Đóng</button>
                </div>
            </div>

            <div class="modal-backdrop fade in"></div>
            <!-- :time-over-dialog -->
        </div>
    </div>
</div>