<div class="row-fluid">
    <div class="page-header">
        <h1><i class="icon-lightbulb"></i> Tính năng</h1>
    </div>

    <ol>
        <li>Không cần đăng ký</li>
        <li>Không cần cài đặt</li>
        <li>Có thể chạy trên cả máy tính bảng, điện thoại</li>
        <li>Đầy đủ bộ <span class="label label-success">450 câu</span></li>
        <li>
            <p>Đề thi được tạo ngẫu nhiên theo đúng cấu trúc của đề thật:</p>
            <ul>
                <li>9 câu về khái niệm và quy tắc giao thông (câu 1 &rarr; 145)</li>
                <li>1 câu về nghiệp vụ vận tải (câu 146 &rarr; 175)</li>
                <li>1 câu về văn hóa và đạo đức người lái xe (câu 176 &rarr; 200)</li>
                <li>1 câu về kỹ thuật lái xe (câu 201 &rarr; 235) và cấu tạo sửa chữa (câu 236 &rarr; 255)</li>
                <li>9 câu về hệ thống biển báo (câu 256 &rarr; 355)</li>
                <li>9 câu về giải các thế sa hình (câu 356 &rarr; 450)</li>
            </ul>
        </li>
    </ol>

    <div class="text-center">
        <a class="btn btn-primary btn-large" href="#/exam" id="start">Thử Ngay</a>
    </div>
</div>